<nb-layout>

<!--  <nb-layout-header fixed>-->
<!--  &lt;!&ndash; Insert header here &ndash;&gt;-->
<!--  </nb-layout-header>-->

  <nb-layout-column>

    <app-board></app-board>
    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
    <span class="createdBy">
      Created by
      <b>
        <a href="https://github.com/Davion">Klajdi</a>
      </b>
      2020.
      Made with
      <b>
        <a href="https://angular.io/">Angular</a>
      </b>
    </span>
  </nb-layout-footer>

</nb-layout>
